.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  font-family: MadimiOne-Regular;
  margin: 60px auto;
}@font-face {
  font-family: 'MadimiOne-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MadimiOne-Regular.ttf);
}@font-face {
  font-family: 'GrandifloraOne-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/GrandifloraOne-Regular.ttf);
}